.App {
  border: 1px solid rgb(0 0 0 / 31%);
  width: 400px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  -moz-box-shadow: 0 0 5px #ccc;
  -webkit-box-shadow: 0 0 5px #ccc;
  box-shadow: 0 0 5px #ccc;
  background: #fff
}

.App .main .item {
  width: 100%;
  display: flex;
}

.footer {
  display: flex;
  justify-content: space-between;
  color: #777777;
  padding: 16px 5px;
}

.footer span {
  font-size: 14px;
}

.footer button {
  color: #777777;
  border: none;
  background: none;
}

.footer .buttonClearCompleted:hover {
  text-decoration: underline;
}

.footer .buttonClearCompleted:focus {
  outline: none;
}

